footer{
    margin-top: auto;
    background: #6C63FF;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.socials{
    display: flex;
    flex-direction: row;
}
a{
    color: none;
}
div.socials a:hover{
    background: none;
}
footer .socials a{
    color: white;
}
.github, .linkedin, .twitter{
    font-size: 30px;
    padding: 0 10px;
    margin-bottom: 10px;
}