* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.landing-page-content{
    margin: 40px auto;
}
.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.intro-text h1{
    margin-bottom: 5px;
}
.intro-text{
    max-width: 700px;
}
.intro-text h1 span, .intro-text h1,
.feat-box h2, .about-text h2{
    font-weight: 700;
    font-size: 3rem;
}
.recordX{
    color: rgb(108, 99, 255);
}
div p{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
button{
    font-size: 1.5rem;
    color: white;
}
button.create-new{
    border: 0;
    background-color: rgb(108, 99, 255);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
button.create-new:hover{
    background-color: #661bff;
}
.intro-image img{
    max-width: 600px;
    height: auto;
}

hr {
    border: none;
    border-top: 10px dotted rgb(108, 99, 255);
    display: block;
    width: 100px;
    margin: auto;
}


.features{
    margin: 60px 0px;
}
.feat-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 80px 0px;
}
.feat-box h2, .about-text h2{
    padding-bottom: 30px;
}
.feat-text{
    max-width: 550px;
}
.feat-image img{
    width: 600px;
    height: 400px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-text{
    padding: 80px 0px;
    max-width: 800px;
}
.about-image-socials img{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(108, 99, 255);
    border-radius: 50%;
}
span.name{
    font-weight: 700;
}
.socials, .github-repo{
    justify-content: center;
}
.about-image-socials .socials{
    margin-top: 40px;
    /* color: #6C63FF; */
    cursor: pointer;
}
div.github-repo{
    width: 100%;
    margin-top: 20px;
}
div.github-repo a button{
    margin: auto;
}


@media (max-width: 1420px) {
    .intro-text h1 span, .intro-text h1,
    .feat-box h2, .about-text h2{
        font-weight: 700;
        font-size: 2.75rem;
    }
    div p{
        font-size: 1.25rem;
        margin-bottom: 40px;
    }
     button{
        font-size: 1.25rem;
        color: white;
    }
    .intro-image img{
        max-width: 500px;
        height: auto;
    }
    .feat-image img{
        width: 500px;
        height: 400px;
    }
    .about-image-socials img{
        height: 250px;
        width: 250px;
    }
    .features{
        margin: 50px 0px;
    }
    .feat-box{
        height: 350px;
        margin: 60px 0px;
    }
}

@media (max-width: 1294px) {
    .intro-text{
        max-width: 650px;
    }
    .intro-text h1 span, .intro-text h1,
    .feat-box h2, .about-text h2{
        font-size: 2.5rem;
    }
    div p{
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
     button{
        font-size: 1.1rem;
        color: white;
    }
    .intro-image img{
        max-width: 450px;
        height: auto;
    }
    .feat-image img{
        width: 400px;
        height: 300px;
    }
    .about-image-socials img{
        height: 200px;
        width: 200px;
    }
    .features{
        margin: 40px 0px;
    }
    .feat-box{
        height: 300px;
        margin: 50px 0px;
    }

}
@media (max-width: 1194px) {
    .intro-text{
        max-width: 600px;
    }
    .intro-image img{
        max-width: 400px;
        height: auto;
    }
}
@media (max-width: 1100px) {
    .landing-page-content{
        margin: 40px 60px;
    }
}
@media (max-width: 1000px) {
    .intro-text h1 span, .intro-text h1,
    .feat-box h2, .about-text h2{
        font-size: 2rem;
    }
    div p{
        font-size: 1rem;
        margin-bottom: 40px;
    }
     button{
        font-size: 1rem;
        color: white;
    }
}
@media (max-width: 851px) {
    .landing-page-content{
        margin: 40px 60px;
    }
    .introduction{
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
    }
    .intro-text{
        margin-bottom: 50px;
    }
    button{
        margin: auto;
    }
    .feat-box{
        flex-direction: column;
        text-align: center;
        height: 100%;
    }
    .glance-feature{
        flex-direction: column-reverse;
    }
    .about{
        flex-direction: column;
        text-align: center;
    }
    .about-text{
        padding: 60px 0px 60px 0px;
    }
}

@media (max-width: 600px) {
    .landing-page-content{
        margin: 40px 30px;
    }
    
}
@media (max-width: 440px) {
    .feat-image img, .intro-image img{
        max-width: 100%;
        height: auto;
    }
    
}
@media (max-width: 375px){
    .landing-page-content{
        margin: 40px 20px;
    }
}
@media (max-width: 300px) {
    .intro-text h1 span, .intro-text h1,
    .feat-box h2, .about-text h2{
        font-size: 1.75rem;
    }
    div p{
        font-size: 0.95rem;
        margin-bottom: 40px;
    }
     button{
        font-size: 0.95rem;
        color: white;
    }
    .landing-page-content{
        margin: 40px 15px;
    }
    
}
