section.login{
    display: flex;
    max-width: 100%;
    margin: auto;
    height: 90vh;
    padding: 50px 0px;
}
.login-image-container{
    margin-right: 40px;
    height: 430px;
}
.login-image{
    width: 600px;
    height: 430px;
    margin: auto;
}
.login-text{
    text-align: center;
    margin: auto;
    align-items: center;
}
.login-text h3 {
    font-size: 36px;
    padding-bottom: 40px;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.demo-login-field{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}
.demo-login-field input{
    padding: 15px;
    border: 2px solid #6C63FF;
    border-radius: 10px;
    background: none;
}
.demo-login-field label{
    margin-bottom: 2px;
    text-align: left;
}
.demo-login-button{
    border: 0;
    background-color: #6C63FF;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.demo-login-button, .demo-login-field label,
.demo-login-field input{
    font-size: 18px;
}
@media (max-width: 1088px) {
    .login-image-container{
        margin: 0px;
    }
    .login-image{
        display: none;
    }
    section.login{
        margin: auto;
        height: 100vh;
        padding: 30px 0px;
    }
    .login-text{
        padding: 30px 0px;
    }
}
    
@media (max-width: 400px) {
    section.login{
        height: 100vh;
        padding: 20px 0px;
    }
    .login-form{
        max-width: 300px;
    }
    .login-text{
        padding: 10px;
    }
    .login-text h3 {
        font-size: 24px;
    }
    .demo-login-button, .demo-login-field label,
    .demo-login-field input{
        font-size: 14px;
    }
    .demo-login-field input{
        padding: 10px;
    }
}

@media (max-width: 336px) {
    .login-form{
        max-width: 250px;
    }
}